includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    paths:
        - app

    level: 8

    databaseMigrationsPath:
        - database/migrations
